nav {
    background-color: #202020;
    height: 70px;
    opacity: 80%;
    width: 100%;
}

.logo-tmdb {
    margin-top: 15px;
    margin-left: 15px;
    width: 100px;
}

i {
    margin-top: 22px;
    margin-right: 20px;
    float: right;
    transition: 0.2s all;
}

i:hover {
    font-weight: bold;
    color: #01b4e4;
}
