@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;700&family=Jost&family=PT+Sans&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

*{
    color: whitesmoke;
}

.movie{
    display: flex;
    margin: 40px
}
.movie .poster{
    max-height: 750px;
    border-radius: 10px;
}

.movie-info img{
    border-radius: 10px;
}
.movie-info{
    margin: 50px;
    margin-left: 50px;
}

.movie-info h1{
    font-family: 'Comfortaa', cursive;
}
.movie-info h3, p{
    font-family: 'Jost', sans-serif;
}

.checked{
    color: orange;
}
.cast{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cast .actor{
    border-radius: 10px;
    margin: 10px;
}